:root{
    --vermelho: #e50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preto);
    font-family: Helvetica, Arial, sans-serif;
    color: #e5e5e5;
}

.wrapper{
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url(../img/main-movie.jpg) no-repeat;
    background-size: 100%;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 68px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

header .logo{
    color: var(--vermelho);
    font-family: Arial, Times;
    font-size: 25px;
    padding: 0 54px;
}

header nav a{
    text-decoration: none;
    color: #e5e5e5;
    margin-right: 10px;
}

header nav a:hover{
    color: #b3b3b3;
}

/*Main Movie*/
.main-movie{
    font-size: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 150px 54px 0;
}

.main-movie .description{
    margin-bottom: 20px;
    text-align: justify;
    width: 100%;
    max-width: 485px;
}

.title{
    max-width: 450px;
    max-height: 191px;
    width: 100%;
    margin-bottom: 17px;
}

.btns{
    display: flex;
}

.btn{
    border: none;
    margin-right: 7px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    height: 41px;
    max-width: 360px;
}

.btn:nth-child(1):hover{
    background-color: rgba(255,255,255,0.75);
    transition: .3s ease all;
}

.btn:nth-child(2):hover{
    background-color: rgba(109,109,110,0.4);
    transition: .3s ease all;
}

.btn:nth-child(1){
    background-color: white;
    color: black;
    width: 35%;
}

.btn:nth-child(2){
    background-color: rgba(109,109,110,.50);
    color: white;
    width: 50%;
}

.btn i{
    margin-right: 8px;
}

.box-movie{
    height: 100%;
    width: 100%;
    display: block;
}

.carousel{
    margin-top: 90px;
    padding: 0 54px;
}

.carousel .high{
    margin: 20px 0;
}

.carousel .high a{
    font-size: 16px;
    font-weight: bold;
    color: #e5e5e5;
    text-decoration: none;
}

/*Owl-Carousel*/
.owl-dots{
    display: none;
}

/*Resposive*/
@media screen and (max-width: 700px){
    header nav a{
        display: none;
    }
}